[Desktop Entry]
Type=Application
Name=xplr (Wezterm)
Comment=Terminal file explorer
Exec=wezterm start xplr
Terminal=false
Icon=xplr
MimeType=inode/directory
Categories=System;FileTools;FileManager;ConsoleOnly
Keywords=File;Manager;Management;Explorer;Launcher
