/* Articblush */
@define-color bg #040c16;
@define-color contrast #020a14;
@define-color lighter #09111b;
@define-color fg #cce9ea;
@define-color cursorline #15171a;
@define-color comments #323949;
@define-color cursor #d9d7d6;
@define-color color0 #323949;
@define-color color1 #E6676B;
@define-color color2 #A2E4B8;
@define-color color3 #e2d06a;
@define-color color4 #92bbed;
@define-color color5 #ecc6e8;
@define-color color6 #80ffff;
@define-color color7 #d2daf4;
@define-color color8 #3d3e51;
@define-color color9 #FF7377;
@define-color color10 #AAF0C1;
@define-color color11 #eadd94;
@define-color color12 #bdd6f4;
@define-color color13 #f9ecf7;
@define-color color14 #b3ffff;
@define-color color15 #edf7f8;

* {
	font-family: Iosevka Semibold, Symbols Nerd Font;
	font-size: 16px;
}

window#waybar {
	background: transparent;
}

#custom-nix {
	background-color: @bg;
	background-image: url("assets/nix.svg");
	background-size: contain;
	background-position: center;
	padding: 9px 17px;
	border-radius: 42px;
}

#workspaces button {
	color: @comments;
	background: @bg;
	padding: 4px 8px;
	margin: 4px; 
	border-radius: 42px;
	transition: all 0.5s cubic-bezier(0.5, 1, 0.89, 1);
}
#workspaces button.active {
	color: @fg;
	padding: 4px 18px;
}

#custom-song {
	background-color: @bg;
	color: @comments;
	padding: 4px 24px;
	margin: 4px;
	border-radius: 42px;
}

#tray {
	background: @bg;
	margin: 4px;
	padding: 4px 8px;
	border-radius: 42px;
}
#backlight, #pulseaudio, #network, #battery {
	background: @bg;
	color: @fg;
	padding: 4px;
	margin: 4px 0px;
}
#backlight {
	border-radius: 42px 0px 0px 42px;
	margin-left: 4px;
	padding-left: 8px;
}
#battery {
	border-radius: 0px 42px 42px 0px;
	margin-right: 4px;
	padding-right: 8px;
}
#clock {
	background: @bg;
	color: @fg;
	padding: 4px 8px;
	margin-left:4px;
	border-radius: 42px 0px 0px 42px;
}
#custom-power-menu {
	background: @bg;
	color: @color3;
	border-radius: 0px 42px 42px 0px;
	margin-right: 4px;
	padding-right: 8px;
}
