* {
  bg:      #16161e;
  se:      #414868;
  fg:      #a9b1d6;
  ac:      #7aa2f7;
  red:     #f7768e;
  green:   #73daca;
  yellow:  #e0af68;
  blue:    #7aa2f7;
  purple:  #bb9af7;
  cyan:    #7dcfff;
}
