configuration{
    modi: "drun,window,run";
    lines: 5;
    disable-history: false;
    sort: true;
    font: "VictorMono Nerd Font 18";
    terminal: "alacritty";
    show-icons:true;
    

    display-drun: " Apps:";
    display-window: "  Windows:";
}
@import "colors.rasi"

* {
background-color: @bg;
}
