[submodule ".dotbot"]
	path = .dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule ".packer.nvim"]
	path = .packer.nvim
	url = https://github.com/wbthomason/packer.nvim
[submodule ".zplug"]
	path = .zplug
	url = https://github.com/zplug/zplug
[submodule "rubato"]
	path = awesome/modules/rubato
	url = https://github.com/andOrlando/rubato
[submodule "bling"]
	path = awesome/modules/bling
	url = https://github.com/BlingCorp/bling.git
