/* GTK_DEBUG=interactive waybar */
	@define-color bg0 #11121D;
	@define-color bg1 #1A1B2A;
    @define-color bg2 #212234;
    @define-color bg3 #353945;
    @define-color bg4 #4A5057;
    @define-color bg5 #282c34;
	@define-color fg #A0A8CD;
	@define-color red #EE6D85;
	@define-color yellow #D7A65F;
	@define-color green #95C561;
	@define-color blue #7199EE;


window#waybar {
	font-family: "Jetbrains Mono", "Symbols Nerd Font";
	background-color: transparent;
	color: @fg;
}

.modules-left, .modules-right {
	margin: 10px 0px 10px 10px;
	/* border-radius: 10px; */
	background-color: @bg0;
}

#custom-arch {
	padding: 10px 0px;
	/* border-radius: 25%; */
	color: @bg0;
	background-color: @blue;
}

#tags {
	padding: 5px;
}
#tags button {
	border-radius: 0px;
	margin: 10px 0px;
	padding: 0px 4px;
}
#tags button.occupied {
	color: @blue;
}
#tags button.focused {
	color: @bg0;
	background-color: @blue;
}
#pulseaudio {
	color: @red;
	padding: 15px 0;
}
#backlight {
	color: @yellow;
	padding: 15px 0;
}
#battery {
	color: @green;
	padding: 15px 0;
}
#clock {
	background-color: @blue;
	color: @bg0;
	padding: 0 4px;
}
