/* GTK_DEBUG=interactive waybar */

window#waybar {
	font-family: "Jetbrains Mono", "Symbols Nerd Font";
	background-color: transparent;
	color: #A6ACCD;
	padding: 5px;
}

.modules-left, .modules-center, .modules-right {
	padding: 4px;
	border-radius: 10px;
}
.modules-left, .modules-right {
	background: #192227;
	color: #192227;
}

.left {
	padding: 0 4px;
	border-radius: 10px 0 0 10px;
	margin-left: 4px;
}

.right {
	border-radius: 0 10px 10px 0;
	margin-right: 4px;
	padding: 0 4px;
}

#custom-arch {
	padding: 0 8px;
	border-radius: 25%;
	color: #192227;
	background-color: #82AAFF;
	margin-right: 4px;
}

#tags button {
	color: #546E7A;
	border-radius: 25%;
	margin: 4px;
	padding: 0px 2px;
}
#tags button.occupied {
	color: #A6ACCD;
}
#tags button.focused {
	color: #192227;
	background-color: #82AAFF;
}
#custom-tray-label {
	padding: 0 10px;
	border-radius: 10px;
	color: #B0BEC5;
}
#tray {
	margin-right: 4px;
	padding: 0 4px;
}

#pulseaudio.left {
	color: #DC6068;
}
#pulseaudio.right {
	color: #F07178;
}
#backlight.left {
	color: #E6B455;
}
#backlight.right {
	color: #FFCB6B;
}
#battery.left {
	color: #ABCF76;
}
#battery.right {
	color: #C3E88D;
}
#clock {
	border-radius: 10px;
	padding: 0 4px;
	background-color: #82AAFF;
}
