#window {
	background-color: transparent;
	padding: 10px;
	font-family: Jetbrains Mono;
}

#input {
	margin: 10px;
	min-height: 100px;
	padding-left: 400px; 
	background-position: center;
	background-size: auto;
	background-image: url(".config/wofi/assets/header.png")
}
#scroll {
	margin: 10px;
	padding: 10px;
	border-radius: 10px;
	border: 10px solid repeating-linear-gradient(45deg, #ff0000, #00ff00);
	background-color: #192227;
}

#entry {
	padding: 8px;
}

#entry:selected {
	background-image: url(".config/wofi/assets/selected.png");
	background-repeat: no-repeat;
	background-size: cover;
	border-color: #FFCB6B;
}
#text {
	color: #EEFFFF;
}
#text:selected {
	color: #192227;
}
