* {
  al:      #00000000;
  bg:      #1E1E2E;
  se:      #6E6C7E;
  fg:      #D9E0EE;
  ac:      #F2CDCD;
  red:     #F28FAD;
  green:   #ABE9B3;
  yellow:  #FAE3B0;
  blue:    #96CDFB;
  purple:  #DDB6F2;
  cyan:    #B5E8E0;
}